# Enter the name of the author and then the name of the song for the most accurate results.
# Enter only one song per line.
# https://available-music-service.com/...
# https://available-music-service.com/...?playlist=...