Enter the name of the author and then the name of the song for the most accurate results.
Enter only one song per line.
Try not to leave blank spaces at the beginning/end or between lines.
https://available.music.service/...
https://available.music.service/...?playlist=...