Only one song name per line
Do not leave blank spaces at the beginning or between lines
For more accurate results, write the name of the author, and then the name of the song
https://youtu.be/ExampleURL
https://www.youtube.com/watch?v=ExampleURL
https://youtu.be/ExampleURL?list=ExampleLIST